#---------------------------------#
#      environment configuration  #
#---------------------------------#
version: 0.6.{build}

#---------------------------------#
#      build configuration        #
#---------------------------------#

#---------------------------------#
#      test configuration         #
#---------------------------------#

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

deploy_script:
  - ps: |
      # Create Chocolately Package

      Set-Location -Path .\vault.portable\
      (Get-Content '.\vault.portable.nuspec' -Raw).Replace("<version>1.0</version>", "<version>$($env:APPVEYOR_BUILD_VERSION)</version>") | Out-File '.\vault.portable.nuspec'
      Choco Pack
      Push-AppveyorArtifact ".\vault.portable.$($ENV:APPVEYOR_BUILD_VERSION).nupkg"
